/* Google Maps Embed */
#custom-map {
  margin: 4em auto;
  height: 40vh !important;
  width: 80vw !important;
  max-width: 1190px;
  border: 5px solid #a461d8;
  border-radius: 10px;
}

.entries-title {
  padding-top: 2em;
}

.popupBtn {
  font-size: 10.5px;
  padding: 0.1rem 0.3rem;
  margin-top: 0.2rem;
  display:block;
}