/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* NavBar Styling */

.navbar-container {
  margin: auto;
  border-bottom: 1px solid #dfdfdf;
  z-index: 10;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #a461d8;
  font-weight: 600;
}

.nav-link {
  color: #44444f;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding: 0 0.5em 0;
}

#dropdown-basic {
  border: none;
  background-color: transparent;
  color: #44444f;
  font-family: inherit;
}

#dropdown-basic:hover,
#dropdown-basic:active {
  background-color: transparent;
  color: black;
}

.navbar {
  background-color: #fff;
}

.nav-link {
  padding: 0 0.5em 0;
}

.user {
  padding-right: 2.5rem;
}

/* Print Report */

.print-report {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.report-status {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 1em;
}

.print-report-btn {
  height: 38px;
  width: 142px;
  background-color: #44444f;
  border-radius: 10px;
  border: none;
}

.print-report-btn:hover {
  background-color: black;
  cursor: pointer;
}

/* Search  */

#search {
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
  color: black;
}

.entries {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form-label {
  font-weight: 500;
}

/* Table */

#main-table {
  margin-top: 1em;
}

.data-row {
  border-bottom: 1px solid #1e75ff30;
}

.thumb.col {
  max-width: 100px;
}

.btn-status {
  font-size: 0.875rem;
  background-color: #1e75ff10;
  color: #1e75ff;
  padding: 0.2rem 1rem;
  cursor: default!important;
  float: left;
  border: none;
}

.btn-view,
.btn-del,
.btn-mark {
  font-size: 0.875rem;
  background-color: #1e75ff10;
  color: #1e75ff;
  padding: 0.2rem 1rem;
  cursor: pointer;
  float: left;
  border: none;
}

.btn-view {
  border-radius: 5px 0 0 5px;
}

.btn-del {
  border-radius: 0;
}

.btn-mark {
  border-radius: 0 5px 5px 0;
}

.btn-view:hover,
.btn-del:hover,
.btn-mark:hover {
  background-color: #1e75ff30;
}

.img-thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}
